{% extends "base.html" %}
{% block content %}
<div class="agileits_main">
    <!-- header -->
	<div class="container">
		<div class="w3_agile_logo">
			<h1><a href="#"><i class="agileits-logo fa fa-plus" aria-hidden="true"></i>Medicate</a></h1>
		</div>
		<div class="agileits_w3layouts_nav">
			<div id="toggle_m_nav">
				<div id="m_nav_menu" class="m_nav">
					<div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>
					<div class="m_nav_ham" id="m_ham_2"></div>
					<div class="m_nav_ham" id="m_ham_3"></div>
				</div>
			</div>
			<div id="m_nav_container" class="m_nav wthree_bg">
				<nav class="menu menu--sebastian">
					<ul id="m_nav_list" class="m_nav menu__list">
						<li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="index.html" class="menu__link"><i class="menu-icon fa fa-home" aria-hidden="true"></i> Home </a></li>
						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="#about" class="menu__link"><i class="menu-icon fa fa-info-circle" aria-hidden="true"></i>About Us </a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_3"> <a href="#services" class="menu__link"><i class="menu-icon fa fa-cog" aria-hidden="true"></i>Services</a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="#team" class="menu__link"><i class="menu-icon fa fa-users" aria-hidden="true"></i>Team</a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_5"> <a href="#grid-gallery" class="menu__link"><i class="menu-icon fa fa-file-image-o" aria-hidden="true"></i>lab</a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="#contact" class="menu__link"><i class="menu-icon fa fa-map-marker" aria-hidden="true"></i> Contact </a> </li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- menu -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<!-- //menu -->
	<!--// header -->
	<!-- banner -->
	<div class="w3_banner">
	    <div class="container">
		    <div class="slider">
			    <div class="callbacks_container">
				   <ul class="rslides callbacks callbacks1" id="slider4">
					    <li>	
						    <div class="banner_text_w3layouts">
								<h3>Better emergency logistics</h3>
								<p>Better emergency logistics</p>
						    </div>
					    </li>
			    	</ul>
				</div>
			  <script src="{{ url_for('static', filename='js/responsiveslides.js') }}"></script>
			  <script>
				// You can also use "$(window).load(function() {"
				$(function () {
				  // Slideshow 4
				  $("#slider4").responsiveSlides({
					auto: false,
					pager:true,
					nav:true,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					  $('.events').append("<li>before event fired.</li>");
					},
					after: function () {
					  $('.events').append("<li>after event fired.</li>");
					}
				  });
			
				});
			 </script>
		   </div>
		</div>   
	</div>	
</div>
<!-- //banner -->
<!-- about -->
<div class="jarallax w3ls-about w3ls-section " id="about">
	<div class="container">
		<h3 class="h3-w3l">about us</h3>
		<div class="about-head text-center">
			<div class="col-md-4 col-sm-4 col-xs-6 wthree-s1 " >
				 <span class="fa fa-medkit sicon" aria-hidden="true"></span>
				 <h4>transplants</h4>
				 <p>Praesent imperdiet mollis odio,eget sodales tortor porttitor.Vac turpis egestas tortor.eget sodales tortor porttitor</p>
				 <div class="w3-button">
					<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 wthree-s1  s1  s1-active">
				 <span class="fa fa-user-md sicon" aria-hidden="true"></span>
				 <h4>critical care</h4>
				 <p>Praesent imperdiet mollis odio,eget sodales tortor porttitor.Vac turpis egestas tortor.eget sodales tortor porttitor</p>
				 <div class="w3-button">
					<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 wthree-s1">
				 <span class="fa fa-ambulance sicon" aria-hidden="true"></span>
				 <h4>Emergency</h4>
				 <p>Praesent imperdiet mollis odio,eget sodales tortor porttitor.Vac turpis egestas tortor.eget sodales tortor porttitor</p>
				 <div class="w3-button">
					<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>		
	</div>
</div>	
<!-- //about -->
<!-- Tooltip -->
<div class="tooltip-content">
	<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center">medicate</h4>
				</div>
				<div class="modal-body">
					<img src="{{ url_for('static', filename='images/1.jpg') }}" class="img-responsive" alt="image">
					<p>Fusce et congue nibh, ut ullamcorper magna. Donec ac massa tincidunt, fringilla sapien vel, tempus massa. Vestibulum felis leo, tincidunt sit amet tristique accumsan. In vitae dapibus metus. Donec nec massa non nulla mattis aliquam egestas et mi.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Tooltip -->
<div class="jarallax w3ls-services w3ls-section" id="services">
	<div class="container">
		<h3 class="h3-w3l">services</h3>
		<div class="services-head text-center">
			<h4>the skill to heal.the spirit to care</h4>
			<p>Fusce et congue nibh, ut ullamcorper magna. Donec ac massa tincidunt, fringilla sapien vel, tempus massa. Vestibulum felis leo, tincidunt sit amet tristique accumsan. In vitae dapibus metus. Donec nec massa non nulla mattis aliquam egestas et mi.</p>
		</div>
		<div class="services-bg">
			<h6>Hope lives here</h6>
			<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
		</div>
	</div>	
</div>
  <div class="container">
  	   <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  	   <div class="col-sm-6">
  <button class="btn-1" id="myButton">AMBULANCE PORTAL</button>
  <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/ambulance";
    };
</script>
</div>
  <div class="col-sm-6">
  <button class="btn-1" id="hosp">HOSPITAL PORTAL</button>
   <script type="text/javascript">
    document.getElementById("hosp").onclick = function () {
        location.href = "/hospital";
    };
</script>
</div>
</div>

</div>	



<!-- footer-->	
<div class="agileits_w3layouts-footer">

	<div class="copy-right text-center">
		<span class="agileits-copy fa fa-plus" aria-hidden="true"></span>
		<p>&copy; 2017 Medicate. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>	
</div>	
<!-- footer-->	

{% endblock %}