<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Google Maps APIs</title>

	<link href="../static/css/styles.css" rel="stylesheet">
</head>

<body>

	<div id="map" style="width:1000px;height:600px;"></div>

	<script src="../static/js/script.js"></script>
	<script async defer 
					src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCahVcXKFyNaUxuJ_aw_fhoP-Bwc4Q1fRs &callback=initMap"></script>
	<a href="{{url_for('lol')}}"><input type="submit" value="submit"></a>
</body>

</html>
