<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ambulance Request</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="../static/css/table.css">

  
</head>

<body>
  <section>
  <!--for demo wrap-->
  <h1>Ambulance Request</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>S.NO.</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Time</th>
          </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>1</td>
          <td>31.1048</td>
          <td>77.1734</td>
          <td>9 November 5:17 PM</td>
        </tr>
        <tr>
          <td>2</td>
          <td>30.7333</td>
          <td>76.7794</td>
          <td>8 November 1:10 AM</td>
        </tr>
        <tr>
          <td>3</td>
          <td>29.65455</td>
          <td>76.17778</td>
          <td>10 November 2:10 AM</td>
        </tr>
        
        <tr>
          <td>4</td>
          <td>30.16665</td>
          <td>76.17778</td>
          <td>11 November 7:10 PM</td>
          
        </tr>
       
      </tbody>
    </table>
  </div>
</section>


<section>
  <!--for demo wrap-->
  <h1>Notification Panel</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>S.NO.</th>
          <th>Ambulance Number</th>
          <th>Notification</th>
    <th>Description</th>
          </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>1</td>
          <td>101</td>
          <td>Reaching in 35 minutes</td>
          <td>Head Injury</td>
        </tr>
        <tr>
          <td>2</td>
          <td>100</td>
          <td>Reaching in 12 minutes</td>
    <td>Burns</td>
        </tr>
        <tr>
          <td>3</td>
          <td>106</td>
          <td>Reaching in 30 minutes</td>
    <td>Fracture</td>
        </tr>
        
        <tr>
          <td>4</td>
          <td>100</td>
          <td>Reaching in 1 hr</td>
          <td>Internal Injury</td>
        </tr>
       
      </tbody>
    </table>
  </div>
</section>



</body>
</html>
