{% extends "base.html" %}
{% block content %}
	<div class="agileits_main1">
    <!-- header -->
  <div class="container">
    <div class="w3_agile_logo">
      <h1><a href="/"><i class="agileits-logo fa fa-plus" aria-hidden="true"></i>Medicate</a></h1>
    </div>
    <div class="agileits_w3layouts_nav">
      <div id="toggle_m_nav">
        <div id="m_nav_menu" class="m_nav">
          <div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>
          <div class="m_nav_ham" id="m_ham_2"></div>
          <div class="m_nav_ham" id="m_ham_3"></div>
        </div>
      </div>
      <div id="m_nav_container" class="m_nav wthree_bg">
        <nav class="menu menu--sebastian">
          <ul id="m_nav_list" class="m_nav menu__list">
            <li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="index.html" class="menu__link"><i class="menu-icon fa fa-home" aria-hidden="true"></i> Home </a></li>
            <li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="#about" class="menu__link"><i class="menu-icon fa fa-info-circle" aria-hidden="true"></i>About Us </a> </li>
            <li class="m_nav_item menu__item" id="moble_nav_item_3"> <a href="#services" class="menu__link"><i class="menu-icon fa fa-cog" aria-hidden="true"></i>Services</a> </li>
            <li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="#team" class="menu__link"><i class="menu-icon fa fa-users" aria-hidden="true"></i>Team</a> </li>
            <li class="m_nav_item menu__item" id="moble_nav_item_5"> <a href="#grid-gallery" class="menu__link"><i class="menu-icon fa fa-file-image-o" aria-hidden="true"></i>lab</a> </li>
            <li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="#contact" class="menu__link"><i class="menu-icon fa fa-map-marker" aria-hidden="true"></i> Contact </a> </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
<div id="right-panel">
<div>



<!-- <br>
<div id="bla">
<b>Waypoints:</b> <br>
<i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
<select multiple id="waypoints">
  <option value="montreal, quebec">Montreal, QBC</option>
  <option value="toronto, ont">Toronto, ONT</option>
  <option value="chicago, il">Chicago</option>
  <option value="winnipeg, mb">Winnipeg</option>
  <option value="fargo, nd">Fargo</option>
  <option value="calgary, ab">Calgary</option>
  <option value="spokane, wa">Spokane</option>
</select>
</div>
<br>
<b>End:</b>
<select id="end">
  <option value="Delhi">Delhi</option>
  <option value="Shimla">Shimla</option>
  <option value="Ghumarwin">Ghumarwin</option>
</select>
<br> -->
  <input type="submit" id="submit" style="display: none">
</div>
<div id="directions-panel"></div>
</div>
<p style="display: none" id="saa">{{c}}</p>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="../static/js/directionsss.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCahVcXKFyNaUxuJ_aw_fhoP-Bwc4Q1fRs&callback=initMa">
</script>
<script type="text/javascript">
  setTimeout(calculateAndDisplayRoute,3000);
   setTimeout(function()
   	{
   		alert("Alert!!!The survival of probability is low::.17");
   		document.getElementById("sall").style.display="block";
   	},10000);
</script>

<!-- <a href="{{url_for('brain2')}}"><input type="submit" id="sall" value="better logistics"  style="display:none";></a>
<br><br> -->

<a>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="tile purple" id="sall" style="display:none";>
     	   <center>
        	<h3 class="title"><a href="{{ url_for('brain2') }}" style="color: white;">Better Logistics</a></h3>
        	<p>Hello Purple, this is a colored tile.</p>
        </center>
      </div>
    </div>
</div>
</a>
{% endblock %}


